<!--<div class="filter">
  <div class="filterByType">
    <ul [ngModel]="eventTypes">
      <div>
        <li [routerLink]="['../search']" [queryParams]="{type: 'all'}">
          <input type="checkbox" id="cb">
          <label for="cb">All</label>
        </li>
      </div>
      <li *ngFor="let eventType of eventTypes" [routerLink]="['../search']"
          [queryParams]="{type: eventType}">{{eventType}}</li>
    </ul>
  </div>
</div>-->
<div class="filter-mobile">
  <select id="eventtype" (change)="getType($event)">
    <option value="">All Events</option>
    <option *ngFor="let eventType of eventTypes" >{{eventType}}</option>
  </select>
</div>
