@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

mat-toolbar{
  background-color: #EF991B;
  height: 120px;
}

mat-toolbar h1{
  margin-left: 3rem;
  font-family: "Annie Use Your Telescope", sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}
