.searchbar{
  width: 100%;
  position: relative;
  margin-top: -3rem;
}

input{
  height: 40px;
  border-radius: 5px;
  border: 1px solid #AAA;
  display: block;
  padding-left: 1rem;
  margin: 0 auto 1em auto;
  width: 100%;
}

