<div class="container">
  <div class="content">
    <mat-horizontal-stepper [linear]="isLinear" #stepper>
      <mat-step [stepControl]="eventInfoGroup">
        <form [formGroup]="eventInfoGroup">
          <ng-template matStepLabel>Event Info</ng-template>
          <div class="content-info">
            <label for="event-name">Event name: </label>
            <input id="event-name" type="text" formControlName="nameEvent">

            <label for="banner-image">Banner: </label>
            <label class="btn-image">
              <i class="fa fa-image"></i>Add Banner Image
              <input id="banner-image" type="file" style="display: none;"
                     name="banner" formControlName="bannerImage" (change)="onFileChange($event)">
            </label>

            <label for="banner-image">Thumbnail: </label>
            <label class="btn-image" for="thumb-image">
              <i class="fa fa-image"></i>Add Thumbnail Image
              <input id="thumb-image" type="file" style="display: none;"
                     name="thumbnail" formControlName="thumbImage" (change)="onFileChange($event)">
            </label>

            <label for="event-type">Event Type: </label>
            <select id="event-type" formControlName="eventType" [ngModel]="eventType">
              <option value="" disabled selected>Event Type..</option>
              <option *ngFor="let eventType of eventTypes" [value]="eventType">{{eventType}}</option>
            </select>

            <label for="full-description">Location: </label>
            <select id="location" formControlName="location" [ngModel]="location">
              <option value="" disabled selected>Location..</option>
              <option *ngFor="let location of locations"
                      [value]="location.id">{{location.buildingName}} {{location.city}}</option>
            </select>

            <div class="or-text">OR</div>

            <label class="btn-image">
              <i class="fa fa-image"></i>Add New Location
              <input id="new-location" type="file" style="display: none;" name="banner">
            </label>
          </div>
          <div class="form-buttons">
            <button class="button-next" mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="eventDescriptionGroup">
        <form [formGroup]="eventDescriptionGroup">
          <div class="content-info">
            <ng-template matStepLabel>Description</ng-template>
            <label for="short-description">Short description: </label>
            <textarea rows="7" id="short-description" type="text" formControlName="shortDescription"></textarea>

            <label for="full-description">Full description: </label>
            <textarea rows="15" id="full-description" type="text" formControlName="fullDescription"></textarea>
          </div>
          <div class="form-buttons">
            <button class="button-back" mat-button matStepperPrevious>Back</button>
            <button class="button-next" mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="eventTicketGroup">
        <form [formGroup]="eventTicketGroup">
          <ng-template matStepLabel>Tickets</ng-template>
          <div class="content-info">
            <label for="total-tickets">Total # of Tickets: </label>
            <input id="total-tickets" type="text" formControlName="amountOfTickets">

            <label for="max-tickets">Max Order: </label>
            <input id="max-tickets" type="text" formControlName="maxOrderTickets">

            <label for="price-event">Price: </label>
            <input id="price-event" type="number" formControlName="price">

            <label for="date-event">Date Event: </label>
            <input id="date-event" type="date" formControlName="date">

            <label for="time-event">Time Event: </label>
            <input id="time-event" type="time" formControlName="time">

            <label class="optional">Optional</label>

            <label for="early-bird-date-event">Early Bird Date: </label>
            <input id="early-bird-date-event" type="date" formControlName="earlyBirdDate">

            <label for="early-bird-price-event">Early Bird Price: </label>
            <input id="early-bird-price-event" type="number" formControlName="earlyBirdprice">
          </div>
          <div class="form-buttons">
            <button class="button-back" mat-button matStepperPrevious>Back</button>
            <button class="button-next" mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>You are now done.</p>
        <mat-list>
          <mat-list-item><strong>Event: </strong> {{ this.eventInfoGroup.value.nameEvent }}</mat-list-item>
          <mat-list-item><strong>Event Type: </strong> {{ this.eventInfoGroup.value.eventType }}</mat-list-item>
          <mat-list-item><strong>Banner Name: </strong> {{ this.eventInfoGroup.value.bannerImage }}</mat-list-item>
          <mat-list-item><strong>Full Description: </strong> {{ this.eventDescriptionGroup.value.fullDescription }}</mat-list-item>
          <mat-list-item><strong>Short Description: </strong> {{ this.eventDescriptionGroup.value.shortDescription }}</mat-list-item>
        </mat-list>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button>Preview</button>
          <button mat-button (click)="submit()">Submit</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
</div>
