<div class="container">
  <div class="content">
    <mat-horizontal-stepper [linear]="isLinear" #stepper>
      <mat-step [stepControl]="eventInfoGroup">
        <form [formGroup]="eventInfoGroup">
          <ng-template matStepLabel>Event Info</ng-template>
          <div class="content-info">
            <label for="event-name">Event name: </label>
            <input id="event-name" type="text" formControlName="nameEvent" required>

            <!--Validation-->
            <div *ngIf="eventName.invalid && (eventName.dirty || eventName.touched)"
                 class="alert alert-danger">
              <div *ngIf="eventName.errors.required">
                Event name is required.
              </div>
              <div *ngIf="eventName.errors.minlength">
                Event name must be at least 4 characters long.
              </div>
            </div>

            <label for="banner-image">Banner: </label>
            <label class="btn-image">
              <em class="fa fa-image"></em>Add Banner Image
              <input id="banner-image" type="file" accept="image/*" style="display: none;"
                     name="banner" formControlName="bannerImage" (change)="imagePreview($event, 'bannergroup')"
                     required>
              <div *ngIf="filePathBanner && filePathBanner !== ''">
                <img class="banner-preview" [src]="filePathBanner" [alt]="eventInfoGroup.value.name">
              </div>
            </label>

            <!--Validation-->
            <div *ngIf="bannerImage.invalid && (bannerImage.dirty || bannerImage.touched)"
                 class="alert alert-danger">
              <div *ngIf="bannerImage.errors.required">
                Banner image is required.
              </div>
            </div>

            <label for="thumb-image">Thumbnail: </label>
            <label class="btn-image" for="thumb-image">
              <em class="fa fa-image"></em>Add Thumbnail Image
              <input id="thumb-image" type="file" accept="image/*" style="display: none;"
                     name="thumbnail" formControlName="thumbImage" (change)="imagePreview($event, 'thumbgroup')"
                     required>
              <div *ngIf="filePathThumb && filePathThumb !== ''">
                <img class="banner-preview" [src]="filePathThumb" [alt]="eventInfoGroup.value.name">
              </div>
            </label>

            <!--Validation-->
            <div *ngIf="thumbImage.invalid && (thumbImage.dirty || thumbImage.touched)"
                 class="alert alert-danger">
              <div *ngIf="thumbImage.errors.required">
                Thumbnail image is required.
              </div>
            </div>

            <label for="event-type">Event Type: </label>
            <select id="event-type" formControlName="eventType">
              <option value="" disabled selected>Event Type..</option>
              <option *ngFor="let eventType of eventTypes" [value]="eventType">{{eventType}}</option>
            </select>

            <!--Validation-->
            <div *ngIf="eventTypeValue.invalid && (eventTypeValue.dirty || eventTypeValue.touched)"
                 class="alert alert-danger">
              <div *ngIf="eventTypeValue.errors.required">
                Event type is required.
              </div>
            </div>

            <label for="full-description">Location: </label>
            <select id="location" formControlName="eventLocation">
              <option value="" disabled selected>Location..</option>
              <option *ngFor="let location of locations"
                      [value]="location.id">{{location.buildingName}} {{location.city}}</option>
            </select>


            <!--Validation-->
            <div *ngIf="eventLocation.invalid && (eventLocation.dirty || eventLocation.touched)"
                 class="alert alert-danger">
              <div *ngIf="eventLocation.errors.required">
                Event location is required.
              </div>
            </div>

            <div class="or-text">OR</div>

            <label class="btn-image">
              <em class="fa fa-image"></em>Add New Location
              <input id="new-location" (click)="openModalAddLocation(modalForm)" style="display: none;"
                     name="locationsModal">
            </label>
          </div>
          <div class="form-buttons">
            <button class="button-next" [disabled]="eventInfoGroup.invalid" mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="eventDescriptionGroup">
        <form [formGroup]="eventDescriptionGroup">
          <div class="content-info">
            <ng-template matStepLabel>Description</ng-template>
            <label for="short-description">Short description: </label>
            <textarea rows="7" id="short-description" type="text" formControlName="shortDescription"></textarea>

            <!--Validation-->
            <div *ngIf="shortDescription.invalid && (shortDescription.dirty || shortDescription.touched)"
                 class="alert alert-danger">
              <div *ngIf="shortDescription.errors.required">
                Short description is required.
              </div>
              <div *ngIf="shortDescription.errors.minlength">
                Short description must be at least 50 characters long.
              </div>
              <div *ngIf="shortDescription.errors.maxlength">
                Short description must be maximum 400 characters long.
              </div>
            </div>

            <label for="full-description">Full description: </label>
            <textarea rows="15" id="full-description" type="text" formControlName="fullDescription"></textarea>

            <!--Validation-->
            <div *ngIf="fullDescription.invalid && (fullDescription.dirty || fullDescription.touched)"
                 class="alert alert-danger">
              <div *ngIf="fullDescription.errors.required">
                Full description is required.
              </div>
              <div *ngIf="fullDescription.errors.minlength">
                Full description must be at least 100 characters long.
              </div>
              <div *ngIf="fullDescription.errors.maxlength">
                Full description must be maximum 1450 characters long.
              </div>
            </div>

          </div>
          <div class="form-buttons">
            <button class="button-back" mat-button matStepperPrevious>Back</button>
            <button class="button-next" [disabled]="eventDescriptionGroup.invalid" mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="eventTicketGroup">
        <form [formGroup]="eventTicketGroup">
          <ng-template matStepLabel>Tickets</ng-template>
          <div class="content-info">
            <label for="total-tickets">Total # of Tickets: </label>
            <input id="total-tickets" type="text" formControlName="amountOfTickets">

            <!--Validation-->
            <div *ngIf="amountOfTickets.invalid && (amountOfTickets.dirty || amountOfTickets.touched)"
                 class="alert alert-danger">
              <div *ngIf="amountOfTickets.errors.required">
                Amount of available tickets is required.
              </div>
            </div>

            <label for="max-tickets">Max Order: </label>
            <input id="max-tickets" type="text" formControlName="maxOrderTickets">

            <!--Validation-->
            <div *ngIf="maxOrderTickets.invalid && (maxOrderTickets.dirty || maxOrderTickets.touched)"
                 class="alert alert-danger">
              <div *ngIf="maxOrderTickets.errors.required">
                Max orderable tickets is required.
              </div>
            </div>

            <label for="price-event">Price: </label>
            <input id="price-event" type="number" formControlName="price">

            <!--Validation-->
            <div *ngIf="price.invalid && (price.dirty || price.touched)"
                 class="alert alert-danger">
              <div *ngIf="price.errors.required">
                Price is required.
              </div>
            </div>

            <label for="date-event">Date Event: </label>
            <input id="date-event" type="date" formControlName="date">

            <!--Validation-->
            <div *ngIf="date.invalid && (date.dirty || date.touched)"
                 class="alert alert-danger">
              <div *ngIf="date.errors.required">
                Date is required.
              </div>
            </div>

            <label for="time-event">Time Event: </label>
            <input id="time-event" type="time" formControlName="time">

            <!--Validation-->
            <div *ngIf="time.invalid && (time.dirty || time.touched)"
                 class="alert alert-danger">
              <div *ngIf="time.errors.required">
                Time is required.
              </div>
            </div>

            <label class="optional">Optional</label>

            <label for="early-bird-date-event">Early Bird Date: </label>
            <input id="early-bird-date-event" type="date" formControlName="earlyBirdDate">

            <label for="early-bird-price-event">Early Bird Price: </label>
            <input id="early-bird-price-event" type="number" formControlName="earlyBirdPrice">
          </div>
          <div class="form-buttons">
            <button class="button-back" mat-button matStepperPrevious>Back</button>
            <button class="button-next" [disabled]="eventTicketGroup.invalid" mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <mat-list>
          <mat-list-item><strong>Event: </strong> {{ this.eventInfoGroup.value.nameEvent }}</mat-list-item>
          <mat-list-item><strong>Event Type: </strong> {{ this.eventInfoGroup.value.eventType }}</mat-list-item>
          <mat-list-item><strong>Banner Name: </strong> {{ this.eventInfoGroup.value.bannerImage }}</mat-list-item>
          <mat-list-item><strong>Thumbnail Name: </strong> {{ this.eventInfoGroup.value.thumbnail }}</mat-list-item>
        </mat-list>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <!--<button mat-button>Preview</button>-->
          <button mat-button (click)="submit()">Submit</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
</div>


<!--MODAL-->
<ng-template #modalForm let-modal class="modal-form">
  <div class="modal-header">
    <h2 class="modal-title" id="modal-addModel-title">Add Location</h2>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="locationModalForm">
      <div class="content-info">
        <label for="building-name">Building: </label>
        <input id="building-name" type="text" formControlName="buildingName" required>

        <!--Validation-->
        <div *ngIf="buildingName.invalid && (buildingName.dirty || buildingName.touched)"
             class="alert alert-danger">
          <div *ngIf="buildingName.errors.required">
            Building name is required.
          </div>
        </div>

        <label for="location-street">Street and Number: </label>
        <input id="location-street" type="text" formControlName="locationStreet" required>

        <!--Validation-->
        <div *ngIf="locationStreet.invalid && (locationStreet.dirty || locationStreet.touched)"
             class="alert alert-danger">
          <div *ngIf="locationStreet.errors.required">
            Street and number are required.
          </div>
          <div *ngIf="locationStreet.errors.minlength">
            Street and number must be at least 4 characters long.
          </div>
        </div>

        <div class="small-input">
          <label for="location-zip">ZIP code: </label>
          <input id="location-zip" type="number" formControlName="locationZip" required>

          <!--Validation-->
          <div *ngIf="locationZip.invalid && (locationZip.dirty || locationZip.touched)"
               class="alert alert-danger">
            <div *ngIf="locationZip.errors.required">
              ZIP code is required.
            </div>
            <div *ngIf="locationZip.errors.minlength">
              ZIP code must must be at least 4 characters long.
            </div>
          </div>
        </div>
        <div class="city-input">
          <label for="location-city">City: </label>
          <input id="location-city" type="text" formControlName="locationCity" required>

          <!--Validation-->
          <div *ngIf="locationCity.invalid && (locationCity.dirty || locationCity.touched)"
               class="alert alert-danger">
            <div *ngIf="locationCity.errors.required">
              City is required.
            </div>
            <div *ngIf="locationCity.errors.minlength">
              City must must be at least 3 characters long.
            </div>
            <div *ngIf="locationCity.errors.pattern">
              City cannot contain numbers or special characters.
            </div>
          </div>
        </div>

        <label for="location-country">Country: </label>
        <input id="location-country" type="text" formControlName="locationCountry" required>

        <!--Validation-->
        <div *ngIf="locationCountry.invalid && (locationCountry.dirty || locationCountry.touched)"
             class="alert alert-danger">
          <div *ngIf="locationCountry.errors.required">
            Country is required.
          </div>
          <div *ngIf="locationCountry.errors.minlength">
            Country must must be at least 4 characters long.
          </div>
          <div *ngIf="locationCountry.errors.pattern">
            Country cannot contain numbers or special characters.
          </div>
        </div>
      </div>
      <div class="form-buttons">
        <button class="button-back" (click)="modal.close('Save click')">Cancel</button>
        <button class="button-next" mat-button [disabled]="locationModalForm.invalid" (click)="addLocation()">Save
        </button>
      </div>
    </form>
  </div>
</ng-template>
