@media screen and (max-width: 992px) {
  .container {
    grid-template-columns: none !important;
    position: relative;
    width: 100%;
    margin: 0 auto;
  }
}

.gridWrapper{
  display: grid;
  grid-template-columns: 50% 50%;
}

app-filter-type{
  position: absolute;
  width: 45%;
  top: 1rem;
}

app-filter-location{
  position: absolute;
  width: 45%;
  float: right;
  right: 0;
  top: 1rem;
}


.filter {
  border-radius: 20px;
  margin-bottom: 3rem;
  width: 100%;
  height: 4rem;
  position: relative;
}

.cardview {
  width: 100%;
}

