.container {
  display: grid;
  grid-template-columns: 0.5fr 2fr;
  grid-template-rows: 0.5fr 10fr;
  gap: 0px 0px;
  grid-template-areas:
    ". filter filter"
    ". cardview cardview";
}
.filter { grid-area: filter; }
.cardview { grid-area: cardview;}
