.container {
  display: grid;
  grid-template-columns: 0.5fr 2fr;
  grid-template-rows: 1fr 10fr;
  grid-template-areas:
    ". filter filter"
    ". cardview cardview";
  top: -4rem;
  position: relative;
}

.filter {
  grid-area: filter;
}

.cardview {
  grid-area: cardview;
}
