spring:
  cloud:
    config:
      uri: http://localhost:8888
      fail-fast: true
      retry:
        initialInterval: 3000
        multiplier: 1.3
        maxInterval: 10000
        maxAttempts: 20