/*@media screen and (max-width: 992px) {
  .filterByLocation {
    visibility: hidden !important;
    display: none !important;
  }

  .filter-mobile {
    visibility: visible !important;
  }
}*/

.filter-mobile {

}

#locationType {
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.filterByLocation {
  position: relative;
}

.filterByLocation li {
  cursor: default;
  user-select: none;
  display: block;
}

.filterByLocation ul li {
  font-size: 17px;
  float: left;
  padding: 0.5rem 2rem 0.5rem 2rem;
}

.filterByLocation li:hover {
  background-color: rgba(37, 11, 206, 0.7);
  border-radius: 20px;
  width: auto;
  color: #fff;
}

a {
  text-decoration: none;
  color: #000;
}

input {
  display: none;
}

input:checked {
  background-color: rgba(37, 11, 206, 0.7);
  border-radius: 20px;
  width: auto;
  color: #fff;
}

