@media screen and (max-width: 767px) {
  #header-image{
    height: 10rem !important;
  }

  #tag{
    margin: 2rem 0 0 1.5rem !important;
  }

  #header-info{
    margin-left: 1.5rem !important;
  }

  #header-date{
    right: 2rem !important;
  }

  #header-image img{
  }

  h2{
    font-size: 25px !important;
  }

  h3 {
    font-size: 15px !important;
  }
}

#header-image{
  background-color: black;
  height: 14rem;
  color: #fff;
  position: relative;
  top: -8rem;
  z-index: -1;
}

#tag{
  background-color: #EF991B;
  border-radius: 10px;
  position: absolute;
  width: 75px;
  margin: 3.5rem 0 0 5rem;
  text-align: center;
  padding: 0.15rem 0 0.15rem 0 ;
  color: #fff;
}

#header-image img{
  overflow: hidden;
  object-fit: none;
  height: inherit;
  width: 100%;
}

#header-info{
  position: absolute;
  margin-left: 5rem;
  bottom: 0;
  float: left;
  padding-bottom: 1rem;
}

#header-date{
  position: absolute;
  bottom: 0;
  right: 5rem;
  float: right;
  padding-bottom: 1rem;
}

h2{
  font-size: 30px;
  text-shadow: 1px 2px #727272;
}

h3 {
  font-size: 20px;
  text-shadow: 1px 2px #727272;
}

#header-image h3, h4{
  margin: 0;
}
