@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

@media screen and (max-width: 768px) {

}

#cardViews > mat-card {
  width: 200px;
}

#cardViews{
  padding: 1rem;
  width: 100%;
}

fa-icon{
  float: left;
  margin-right: 0.7rem;
}

.event-card{
  box-shadow: none;
  border-radius: 20px;
  min-width: 150px;
}

.content {
  margin-top: -10px;
  margin-left: -10px;
  color: #5E5E5E;
}

.content h2{
  font-family: "Poppins", sans-serif;
  margin: 0;
  color: #000;
}

.content p{
  font-family: "Poppins", sans-serif;
  margin: 0.1rem 0 0 0 ;
}

.location{
  height: 5px;
}

.tag{
  background-color: #EF991B;
  border-radius: 10px;
  position: absolute;
  margin-top: -170px;
  width: 75px;
  text-align: center;
  padding: 0.15rem 0 0.15rem 0 ;
  color: #fff;
}

.eventThumb{
  border-radius: 20px 20px;
  overflow: hidden;
  height: 170px;
  object-fit: cover;
}

