<div id="cardViews">
  <div fxLayout="row wrap" fxLayoutGap="25px grid">
    <div fxFlex.xs="100%" fxFlex.sm="25%" fxFlex.md="20%" fxFlex.lg="20%" fxFlex.xl="20%"
         *ngFor="let event of events">
      <div class="cardContainer">
        <mat-card class="event-card">
          <img mat-card-image class="eventThumb" src="event/files/{{event.thumbnail}}"
               alt="{{event.thumbnail.toString()}}" [routerLink]="['../events',event.id]">
          <div class="tag">{{event.eventType}}</div>
          <mat-card-content class="content">
            <h2>{{event.eventName}}</h2>
            <fa-icon [icon]="faSearchLocation"></fa-icon>
            <p>{{event.location.buildingName}}</p>
            <fa-icon [icon]="faCalenderAlt"></fa-icon>
            <p>{{event.eventDate}}</p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
<mat-paginator
  *ngIf="events" [length]="events.length"
  [pageSize]="pageSize"
  [pageSizeOptions]="pageSizeOptions"
  [pageIndex]="currentPage"
  aria-label="Select page"
  (page)="handlePage($event)">
</mat-paginator>
