.example-card {
  max-width: 175px;
  box-shadow: none;
  margin: 1rem;
  border-radius: 20px;
}

.tag{
  background-color: orange;
  border-radius: 20px;
  padding-left: 10px;
  position: absolute;
  margin-top: -170px;
  width: 75px;
}

.eventThumb{
  border-radius: 20px 20px;
  overflow: hidden;
  image-resolution: initial;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
