<div id="header-image">
  <div id="tag">
    <h4>{{event.eventType}}</h4>
  </div>
  <img src="assets/Nightlife_Las-Vegas.jpeg" alt="req"/>
  <div id="header-info">
    <h2>{{event.eventName}}</h2>
    <h3>{{event.location.buildingName}} | {{event.location.city}}</h3>
  </div>
  <div id="header-date">
    <h3>{{event.eventDate}}</h3>
    <h4>{{event.eventTime}}</h4>
  </div>
</div>
<div id="content">
  <div class="content-container">
    <div id="content-description">
      <h4>Description</h4>
      <p>{{event.description}}</p>
    </div>
    <div id="content-date">
      <h4>Date</h4>
      <p>{{event.eventDate}}</p>
      <p>{{event.eventTime}}</p>
    </div>
  </div>
  <div id="content-tickets">
    <h4>Tickets</h4>
    <div class="tickets-buy">
      <p>TICKETS</p>
    </div>
    <div class="tickets-price">
      <p>Starting from <span class="price">{{event.price}}</span> EUR</p>
    </div>
    <div class="tickets-left">
      <p>Only {{event.ticketsLeft}} Tickets Left</p>
    </div>
  </div>
  <div id="content-location">
    <h4>Location</h4>
    <p>{{event.location.buildingName}}</p>
    <p>{{event.location.address}}</p>
    <p>{{event.location.zipCode}} {{event.location.city}}</p>
    <p>{{event.location.country}}</p>
  </div>
</div>

<!--Recommended Events-->
