#header-image{
  background-color: black;
  height: 14rem;
  color: #fff;
  position: relative;
  top: -7rem;
  z-index: -1;
}

#tag{
  background-color: #EF991B;
  border-radius: 10px;
  position: absolute;
  width: 75px;
  margin: 3.5rem 0 0 5rem;
  text-align: center;
  padding: 0.15rem 0 0.15rem 0 ;
  color: #fff;
}

#header-image img{
  overflow: hidden;
  object-fit: none;
  height: inherit;
  width: 100%;
}

#header-info{
  position: absolute;
  margin-left: 5rem;
  bottom: 0;
  float: left;
  padding-bottom: 1rem;
}

#header-date{
  position: absolute;
  bottom: 0;
  right: 5rem;
  float: right;
  padding-bottom: 1rem;
}

h2{
  font-size: 30px;
}

h3 {
  font-size: 20px;
}

#header-image h3, h4{
  margin: 0;
}

#content{
  padding-left: 5rem;
  padding-top: 2rem;
  margin-top: -7rem;
  background-color: #F3F3F3;
  padding-bottom: 2rem;
  height: fit-content;
  overflow: auto;
}

#content-description, #content-date{
  margin-bottom: 3rem;
}


#content h4{
  color: #250BCE;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 1rem;
}

#content-tickets, #content-location{
  float: right;
  width: 35%;
  margin-right: 1rem;
}

#content-location, #content-date p {
  line-height: 10px;
}

.content-container{
  width: 55%;
  float: left;
}

.tickets-left{
  background-color: #EF991B;
  position: relative;
  border-radius: 15px;
  max-width: 200px;
  text-align: center;
  color: #fff;
}

.tickets-left p{
  font-size: 10pt;
  font-weight: bold;
  padding: 0.25rem;
}

.tickets-buy{
  background-color: #250BCE;
  position: relative;
  border-radius: 15px;
  max-width: 200px;
  text-align: center;
  color: #fff;
}

.tickets-buy p{
  font-weight: bold;
  padding: 0.5rem;
}

.tickets-price{
  max-width: 200px;
  text-align: right;
  margin: -0.1rem;
  padding: 0;
}

.tickets-price .price{
  font-weight: bold;
  font-size: 15pt;
}

