<div id="header-image">
  <img src="assets/Nightlife_Las-Vegas.jpeg" alt="req"/>
  <div id="header-info">
    <h2>{{event.eventName}}</h2>
    <h3>{{event.location.buildingName}} | {{event.location.city}}</h3>
  </div>
  <div id="header-date">
    <h3>{{event.eventDate}}</h3>
    <h4>{{event.eventTime}}</h4>
  </div>
</div>
<div id="content">
  <div id="content-description">
    <h4>Description</h4>
    <p>{{event.description}}</p>
  </div>
  <div id="content-date">
    <h4>Date</h4>
    <p>{{event.eventDate}}</p>
    <p>{{event.eventTime}}</p>
  </div>
</div>

